@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Scope+One');

body
{
    background: url(bg.jpg);
    background-size: cover;
}

#h1

{
	text-align:center;
font-family: 'Bungee Inline';
font-size: 150px;
color: black;

}

#h2

{
background: rgba(255,255,255,0.5);
font-size:30px;
font-family: 'Scope One';
padding-bottom: 10px;
padding-top: 10px;
border-width: cover;
}

.container

{
	text-align:center;
}

.fullbreakfastbutton a:hover {
	color: white;
}

.breakfastbutton

{
	border: 4px solid black;
	border-radius: 180px;
	position: relative;

}

.breakfastbutton:hover {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
-webkit-transform-origin: center;
-moz-transform-origin: center;
-o-transform-origin: center;
transform-origin: center;
border: 4px solid black;
}



.lunchbutton

{
	border: 4px solid black;
	border-radius: 180px;
}

.dinnerbutton

{
	border: 4px solid black;
	border-radius: 180px;
}

.buttoncaption

{
	color: black;
font-family: 'Scope One';
font-weight: bolder;
	font-size: 40px;
    position: absolute;
   top: calc(50% - 24px); 
   left: 0;
   text-align: center; 
   width: 100%; 
   opacity:0;
}

.buttoncaption:hover {
-webkit-opacity: 1;
-moz-opacity: 1;
-o-opacity: 1;
opacity: 1;
}
